<h2>books</h2>
<table>
<th>image</th>
<th>name</th>
<th>Opnion</th>
<% @books.each do |book| %>
  <tr>
    <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg',size:"100x100"%></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tr>
<% end %>
</table>